<p id="notice"><%= notice %></p>

<p>
  <strong>Followerid:</strong>
  <%= @following.Followerid %>
</p>

<p>
  <strong>Followedid:</strong>
  <%= @following.Followedid %>
</p>

<%= link_to 'Edit', edit_following_path(@following) %> |
<%= link_to 'Back', followings_path %>
