<%= form_with(model: opinion, local: true) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
        <% opinion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :app_id, class: "text-secondary text-uppercase" %>
    <%= form.select :app_id, @apps.collect { |app| [app.name, app.id] }, {}, {class: "form-control"} %>
  </div>

  <div class="field">
    <div class="form-check">
    <%= form.radio_button :sentiment, true, class: "form-check-input" %>
    <%= form.label :sentiment_true, "Positive", class: "form-check-label text-secondary text-uppercase" %>
    </div>
    <div class="form-check">
    <%= form.radio_button :sentiment, false, class: "form-check-input" %>
    <%= form.label :sentiment_false, "Negative", class: "form-check-label text-secondary text-uppercase" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :opinion, class: "control-label text-secondary text-uppercase" %>
    <%= form.text_area :text, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :authorid %>
  </div>

  <div class="actions">
    <%= form.submit "SUBMIT", class: "btn btn-primary" %>
  </div>
<% end %>
