<%= form_with(model: opinion, local: true) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
        <% opinion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :app_id %>
    <%= form.select :app_id, @apps.collect { |app| [app.name, app.id] } %>
  </div>

  <div class="field">
    <%= form.radio_button(:sentiment, true) %>
    <%= form.label(:sentiment_true, "Positive") %>
    <%= form.radio_button(:sentiment, false) %>
    <%= form.label(:sentiment_false, "Negative") %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :authorid %>
    <%= form.text_field :authorid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
