
    <div class="col-8 overflow-auto p-0">
      <%= image_tag user_cover(current_user), size: "600x200", class: "cover-image" %>

      <main class="position-absolute w-100 p-5">

        <div class="container">
          <div class="row pb-5">
            <div class="col-12 bg-white border rounded">
              <div class="p-3">
              <h5 class="text-uppercase font-weight-bold text-secondary">Review an app</h5>
              <%= render 'form', opinion: @opinion %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 bg-white border rounded">
              <div class="p-3">
                <h5 class="text-uppercase font-weight-bold text-secondary">App ratings</h5>
                <% @opinions.each do |opinion| %>
                  <div class="container-fluid p-0">
                    <div class="row pb-5">
                      <div class="col-1">
                        <%= image_tag user_avatar(opinion.author, 50) %>
                      </div>
                      <div class="col-11">
                        <div class="row">
                          <div class="col-12"><%= opinion.author.email %> <% if opinion.app %> rated <%= opinion.app.name %><% end %></div>
                        </div>
                        <div class="row">
                          <div class="col-12">Opinion: <%= opinion.sentiment ? "Positive" : "Negative" %></div>
                        </div>
                        <div class="row">
                          <div class="col-12"><%= opinion.text %></div>
                        </div>

                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="col-4 overflow-auto p-0">
      <aside class="position-absolute w-100 p-5">
        <h1>Who to follow</h1>
        <ul>
        <% @whotofollow.each do |user| %>
          <li><%= link_to user.email, user %></li>
        <% end %>
        </ul>
        <h2>People you follow</h2>
        <ul>
        <% @whoifollow.each do |user| %>
          <li><%= link_to user.email, user %></li>
        <% end %>
        </ul>
      </aside>
    </div>
