<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @opinion.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @opinion.user_id_id %>
</p>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
