<!DOCTYPE html>
<html>
  <head>
    <title>AppCritic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <div class="container-fluid bg-1 d-flex h-100 flex-column">
    <div class="row bg-2 flex-fill d-flex justify-content-start">
      <div class="col-2 bg-left-aside">
        <aside>
          <% if current_user %>
            <div class="d-flex justify-content-center text-center p-3"><%= image_tag user_avatar(current_user, 100), class: "rounded-circle" %></div>
            <div class="d-flex justify-content-center text-center pb-4 text-light"><%= current_user.fullname %></div>
            <div class="d-flex justify-content-center text-center pb-4"><%= link_to current_user.username, root_path %></div>
            <div class="d-flex justify-content-center">
            <ul class="nav navbar-custom flex-column">
              <li class="nav-item"> <%= link_to apps_path, class: "nav-link text-muted h6" do %> <i class="fas fa-star-half-alt"></i> APP REVIEWS <% end %> </li>
              <li class="nav-item"> <%= link_to root_path, class: "nav-link text-muted h6" do %> <i class="fas fa-edit"></i> RATE AN APP <% end %></li>
              <li class="nav-item"> <%= link_to new_app_path, class: "nav-link text-muted h6" do %> <i class="fas fa-folder-plus"></i> ADD AN APP <% end %> </li>
            </ul>
            </div>
          <% end %>
        </aside>
      </div>
      <div class="col-10 bg-1 d-flex h-100 flex-column">
        <div class="row bg-5">
          <div class="col-12 bg-nav">
            <nav class="navbar navbar-expand">
              <%= link_to root_path, class: "navbar-brand text-light" do %> <i class="fas fa-user-edit"></i> AppCritic <% end %>

              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <span class="nav-link"><%= notice %></span>
                </li>
                <li class="nav-item">
                  <span class="nav-link"><%= alert %></span>
                </li>
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to edit_user_registration_path, class: "nav-link text-light h6" do %><i class="far fa-id-card"></i> Settings <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light h6" do %> <i class="fas fa-sign-out-alt"></i> Log Out <% end %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to new_user_session_path, class: "nav-link text-light h6" do %> <i class="fas fa-sign-in-alt"></i> Log In <% end %>
                </li>
                <li>
                <%= link_to new_registration_path(resource_name), class: "nav-link text-light h6" do %> <i class="fas fa-user-plus"></i> New account <% end %>
                </li>
              <% end %>
              </ul>
              
              
            </nav>
          </div>
        </div>
        <div class="row bg-6 flex-fill d-flex justify-content-start bg-main">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
